/* initial styles */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&amp;display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
    line-height: 24px;
	font-weight: 400;
	color: #484848;
	background:#fff;
	overflow-x:hidden;
 }

img {
	max-width: 100%;
	height: auto;
}

h1,h2,h3,h4,h5,h6, p, div {
	margin: 0;
    padding: 0;
    box-sizing: border-box;		   
}	

a {
	text-decoration: none;
}


ul {
	margin:0;
	padding:0;
	list-style: none;
}

button {
	padding: 0;
	box-sizing: border-box;
	border: none;
	font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-decoration: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

.visuallyHidden {
	position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.mainWrapper {
    max-width: 1920px;
    margin: 0 auto;
}

/* top styles */
.header {
	margin: 0 375px;
	font-size: 16px;
	line-height: 1.45;
	font-weight: 600;
}

.innerHeader {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 80px;
	/* max-height: 80px; */
}

.mainNav {
	display: flex;
}

.boxLogo {
	display: inline-flex;
	margin-right: 132px;
}

.boxTopContacts {
	display: flex;
	align-items: center;
}

.boxHeaderPhone {
	margin-right: 32px;
}

.listSocialLinks {
	display: flex;
}

.itemSocialLink {
	display: inline-flex;
	margin-right: 16px;
}

.itemSocialLink:last-of-type {
	margin-right: 0px;
}

.socialLink {
	display: inline-flex;
}

/* core main page */
.slogan {
	padding: 205px 375px;
	min-height: 700px;
	background-color: rgb(228, 226, 226);
	background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.8) 100%), 
				url('/local/templates/stroy/images/slogan_background.png') no-repeat center center;
	background-size:  100%;
	background-position: center center, center -180px;
}

.innerSlogan {
	max-width: 770px;
}

.sloganHeading {
	margin-bottom: 24px;
	font-size: 48px;
	line-height: 1.25;
	font-weight: 700;
	letter-spacing:	-2%;
}

.sloganText {
	margin-bottom: 32px;
	font-size: 20px;
	line-height: 1.45;
	color: #303030;
}

.btnBasic {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    font-size: 16px;
	line-height: 1;
    font-weight: 700;
	color: #fff;
    border-radius: 8px;
	background-color: #F34C3F;
}

.btnBasic:hover {
	background-color: #F45E52;
}

.btnBasis:focus {
	background-color: #F57065;
}

/* footer */
.innerFooter {
	margin: 40px 375px;
}

.mainContentFooter {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	margin-bottom: 30px;
}

.boxLogoFooter {
	margin-right: 182px;
}

.listContentFooter {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: space-between;
}

.footerHeading {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	color: #484848;
	font-weight: 700;
}

.itemDetails,
.itemDocuments {
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 1.45;
	font-weight: 400;
	color: #484848;
}

.itemDetails:last-of-type,
.itemDocuments:last-of-type {
	margin-bottom: 0px;
}

.itemDocuments a {
	display: inline-flex;
	color: #484848;
}

.itemDocuments a:hover,
.itemDocuments a:active,
.itemDocuments a:focus {
	color: #F34C3F;
	text-decoration: none;
}

.copyright {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 30px;
	border-top: 1px solid #E7E7E7;

	font-size: 16px;
	line-height: 1.45;
	font-weight: 400;
	color: #B0B0B0;
}